<div class="btn-group-vertical">


  <br>
  <button type="button" routerLink="/app-video-upload" class="btn btn-primary">Grade 06</button>
  <br>
  <br>
<button type="button" class="btn btn-secondary">Grade 07</button>
<br>
<br>
<button type="button" class="btn btn-success">Grade 08</button>
<br>
<br>
<button type="button" class="btn btn-danger">Grade 09</button>
<br>
<br>
<button type="button" class="btn btn-warning">Grade 10</button>
<br>
<br>
<button type="button" class="btn btn-primary">Grade 11</button>
<br>

