



<table class="table table-striped">
  <thead class="thead-dark">




<th style="width:180px">name </th>

<th style="width:200px">Email </th>
<th style="width:200px">Password </th>
  </thead>


  <tbody >
      <tr style="width:200px"  *ngFor="let user of Users ; let i = index">



        <td  style="width:250px ;color:rgb(124, 32, 32);" ><b>{{user._id}}</b></td>

        <td  style="width:250px ;color:rgb(124, 32, 32);" ><b>{{user.email}}</b></td>

        <td  style="width:250px ;color:rgb(124, 32, 32);" ><b>{{user.password}}</b></td>

</tr>





















