
<br>
<br>
<div class="test">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="img" >
        <div class="card-body">
          <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 06</h5>
         <br>
         <br>
          <button type="button" routerLink="/app-videodisplay" class="btn btn-primary btn col-xs-2 margin-left ">Grade 06</button>
        </div>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="img" >
        <div class="card-body">
          <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 07</h5>
          <br>
          <br>
          <button type="button" routerLink="/app-videodislpay07" class="btn btn-success  btn-xl col-xs-2 margin-left">Grade 07</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="img" >
        <div class="card-body">
          <h5 class="card-title" style=" font-size:300%;color:rgb(224, 223, 238);">Grade 08</h5>
          <br>
          <br>
          <button type="button" routerLink="/app-videoddisplay8" class="btn btn-danger  btn-xl col-xs-2 margin-left">Grade 08</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="img" >
          <div class="card-body">
            <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 09</h5>
            <br>
            <br>
          <button type="button" routerLink="/app-videoddisplay9" class="fa fa-play" class="btn btn-secondary  btn-xl col-xs-2 margin-left">Grade 09</button>
          </div>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="img" >
          <div class="card-body">
            <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 10</h5>
            <br>
            <br>
    <button type="button" routerLink="/app-videoddisplay10" class="btn btn-warning  btn-xl col-xs-2 margin-left">Grade 10</button>
          </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="img" >
          <div class="card-body">
            <h5 class="card-title" style="font-size:300%; color:rgb(224, 223, 238);">Grade 11</h5>
            <br>
            <br>
            <button type="button" class="btn btn-dark   btn-xl col-xs-2 margin-left" routerLink="/app-videoddisplay11">Grade 11</button>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>


</div>
