<div class="test">
  <br />

  <a
    (click)="_authService.doLogout()"
    class="btn btn-info btn-sm"
    style="float: right"
  >
    <img
      src="./assets/logout.png"
      width="50"
      height="50"
      style="float: right"
    />
  </a>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <!--

              <button type="button" class="btn btn-outline-danger" routerLink="/sign-up"  >Add a New Admin</button>

              -->
          <a href="sign-up" class="invisibleLink">
            <img
              src="./assets/administrator-icon1.png"
              width="200px"
              height="200px"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a href="app-video-upload" class="invisibleLink">
            <img src="./assets/565458-200.png" width="200px" height="200px" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a href="app-paper-upload" class="invisibleLink">
            <img src="./assets/images.jpg" width="200px" height="200px" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a href="videos" class="invisibleLink">
            <img src="./assets/Icon_wmp.png" width="200px" height="200px" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a href="app-user-details" class="invisibleLink">
            <img
              src="./assets/126-1269360_icon-student-icon-for-new-student.png"
              width="200px"
              height="200px"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a href="app-create-profile" class="invisibleLink">
            <img src="./assets/download.png" width="200px" height="200px" />
          </a>
        </div>
      </div>
    </div>
    
  </div>



  <br /><!--app-user-details-->
  <br />
  <div class="row">


    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a href="app-video-page-grade" class="invisibleLink">
            <img
              src="./assets/file-video-icon.png"
              width="200px"
              height="200px"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a href="app-paper-dis" class="invisibleLink">
            <img src="./assets/unnamed.png" width="200px" height="200px" />
          </a>
        </div>
      </div>
    </div>

    

    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a href="app-pastpaper-center" class="invisibleLink">
            <img
              src="./assets/images (3).jpg"
              width="200px"
              height="200px"
            />
          </a>
        </div>
      </div>  
    </div>

    <div class="col-sm-2">
      <div class="card">
        <div class="img10">
          <a routerLink="/messages-inbox" class="invisibleLink">
            <img src="./assets/message-inbox-icon.png" width="200px" height="200px" />
          </a>
        </div>
      </div>
    </div>

  </div>

  </div>



